.ebul_mbmenu, .ebul_mbmenu ul {
  background-color: #EBEBEB;
  border: 1px solid #CFCFCF;
  display: block;
  font-size: 1px;
  margin: 0px;
  overflow: auto;
  padding: 0px;
  position: absolute;
  visibility: hidden;
}

.ebul_mbmenu_shadow {
  background-color: #777777;
  display: block;
  margin: 0px;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
}

.ebul_mbmenu table {
  border-collapse: separate;
}

.ebul_mbmenu tr {
  background-color: #EBEBEB;
  cursor: pointer;
  font-size: 1px;
}

.ebul_mbmenu td {
  border: 1px solid #CFCFCF;
  padding: 4px;
  text-align: left;
}

.ebul_mbmenu td a, .ebul_mbmenu td a:visited {
  color: #222222;
  font-family: "Tahoma", serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

.ebul_mbmenu tr.hot, .ebul_mbmenu tr.expanded {
  background-color: #FFFFFF;
}

.ebul_mbmenu tr.hot td, .ebul_mbmenu tr.expanded td {
  border-color: #CFCFCF;
}
.ebul_mbmenu tr.hot a, .ebul_mbmenu tr.expanded a {
  color: #222222;
  font-family: "Tahoma", serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

.ebul_mbmenu td div.ebul_mbmenuseparator {
  border-top: 1px solid #222222;
  height: 0px;
  font-size: 0;
}

.ebul_mbmenu td.ebul_mbmenuseparatortd {
  cursor: default;
}


ul.ebul_mbmenu {
  position: absolute;
  visibility: hidden;
}                               

.mbmenuebul_menulist .spaced_li {
  padding: 0px 1px 0px 0px;
}

.mbmenuebul_menulist li {
  list-style: none;
  float: left;
}

.mbmenuebul_menulist img {
  vertical-align: bottom;
  
}

.mbmenuebul_menulist {
  margin: 0px;
  padding: 0px;
  line-height: 0px;
}
