.ebul_mbindex, .ebul_mbindex ul {
  background-color: #EBEBEB;
  border: 1px solid #CFCFCF;
  display: block;
  font-size: 1px;
  margin: 0px;
  overflow: auto;
  padding: 0px;
  position: absolute;
  visibility: hidden;
}

.ebul_mbindex_shadow {
  background-color: #777777;
  display: block;
  margin: 0px;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
}

.ebul_mbindex table {
  border-collapse: separate;
}

.ebul_mbindex tr {
  background-color: #EBEBEB;
  cursor: pointer;
  font-size: 1px;
}

.ebul_mbindex td {
  border: 1px solid #CFCFCF;
  padding: 4px;
  text-align: left;
}

.ebul_mbindex td a, .ebul_mbindex td a:visited {
  color: #222222;
  font-family: "Tahoma", serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

.ebul_mbindex tr.hot, .ebul_mbindex tr.expanded {
  background-color: #FFFFFF;
}

.ebul_mbindex tr.hot td, .ebul_mbindex tr.expanded td {
  border-color: #CFCFCF;
}
.ebul_mbindex tr.hot a, .ebul_mbindex tr.expanded a {
  color: #222222;
  font-family: "Tahoma", serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

.ebul_mbindex td div.ebul_mbindexseparator {
  border-top: 1px solid #222222;
  height: 0px;
  font-size: 0;
}

.ebul_mbindex td.ebul_mbindexseparatortd {
  cursor: default;
}


ul.ebul_mbindex {
  position: absolute;
  visibility: hidden;
}                               

.mbindexebul_menulist .spaced_li {
  padding: 0px 1px 0px 0px;
}

.mbindexebul_menulist li {
  list-style: none;
  float: left;
}

.mbindexebul_menulist img {
  vertical-align: bottom;
  
}

.mbindexebul_menulist {
  margin: 0px;
  padding: 0px;
  line-height: 0px;
}
